---
// Navbar Component using Tailwind CSS in Astro
---

<nav class="bg-gray-900 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="text-2xl font-bold uppercase tracking-wide">Astro Orrery</div>

    <!-- Nav Links -->
    <ul class="flex space-x-8">
      <li><a href="/" class="  text-xl text-white no-underline hover:text-gray-400">Home</a></li>
      <li><a href="/explore solar" class="text-xl text-white no-underline hover:text-gray-400">Explore</a></li>
      <li>
        <a href="/objects" class="text-xl text-white no-underline hover:text-gray-400">About</a>
      </li>
    </ul>

  </div>
</nav>
